{% extends 'base.html.twig' %}

{% block title %}Participants{% endblock %}

{% block body %}
<div class="container-fluid">
    <div class="row">
        {% include "sidebar/sidebar.html.twig" %}

        <!-- Main Content -->
        <main class="col-md-10 ms-sm-auto px-4 py-4">
            <h2 class="fw-bold">Participants</h2>
            <ul class="nav nav-tabs my-3"></ul>

        </main>
    </div>
</div>
{% endblock %}