<nav class="col-md-2 d-none d-md-block itf-sidebar-bgc text-white p-0">
    <div class="p-3">
        <h5 class="text-info itf-sidebar-tc">Formation Pro</h5>
        <ul class="nav flex-column mt-4">
            <li class="nav-item">
                <a class="nav-link text-white" href="#">Tableau de bord</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-white" href="#">Catalogue</a>
            </li>
            <li class="nav-item bg-light itt-sidebar-plc rounded">
                <a class="nav-link itf-sidebar-plc" href="#">Sessions</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-white" href="#">Participants</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-white" href="#">Factures</a>
            </li>
        </ul>
    </div>
</nav>